@model meusite.Models.Item
@{
    ViewBag.Title = "Item - " + Model.Title;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <h2>@Model.Title</h2>
    <div>
        <div class="slider">

            <div class="slides">
                <!--Radio Buttons-->
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">

                <!--Slide images-->
                <div class="slide first">
                    <img src="@Model.ItemArtUrl" alt="Imagem 1" />
                </div>
                <div class="slide">
                    <img src="@Model.ItemArtUrl2" alt="Imagem 2" />
                </div>
                <div class="slide">
                    <img src="@Model.ItemArtUrl3" alt="Imagem 3" />
                </div>
                <div class="slide">
                    <img src="@Model.ItemArtUrl4" alt="Imagem 4" />
                </div>

                <!--Navigation auto-->
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
            </div>

            <div class="manual-navigation">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
            </div>
        </div>
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <p class="button1">
            @Html.ActionLink("Add to cart", "AddToCart",
            "ShoppingCart", new { id = Model.ItemId }, "")
        </p>
        <div class="fb-comments" data-width="230" data-numposts="5"></div>
    </div>
    <script src="~/js/script.js"></script>
</body>