@model meusite.Models.Item
@{
    ViewBag.Title = "Item - " + Model.Title;
}
<h2>@Model.Title</h2>
<p>
    <img alt="@Model.Title"
         src="@Model.ItemArtUrl" width="482" height="271" />
</p>
<div id="item-details">

    <dt>
        @Html.DisplayNameFor(model => model.Category.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Category.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Producer.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Producer.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Price)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Price)
    </dd>

    <p class="button1">
        @Html.ActionLink("Add to cart", "AddToCart",
        "ShoppingCart", new { id = Model.ItemId }, "")
    </p>
    <div class="fb-comments" data-width="230" data-numposts="5"></div>
</div>