@using System.Globalization;
@model MeuSite.Models.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<h2> My Cart</h2>

@if (Model.CartItems.Count == 0)
{
    <div class="text-center">
        <h3>There are no items in your cart :(</h3>
    </div>
}
else
{
    <p class="button">
        @Html.ActionLink("Checkout>> ", "Payment", "Checkout")
    </p>
    <div id="update-message">
    </div>
    <table class="container-fluid">
        <tr>
            <th>
                Game Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.CartItems)
        {
            <tr id="row-@item.RecordId">
                <td>
                    @Html.ActionLink(item.Item.Title,
            "Details", "Store", new { id = item.ItemId }, null)
                </td>
                <td>
                    @item.Item.Price.ToString("F2", CultureInfo.InvariantCulture)
                </td>
                <td id="item-count-@item.RecordId">
                    @item.Count
                </td>
                <td>
                    <a href="#" class="RemoveLink"
                       data-id="@item.RecordId">
                        Remove
                        from cart
                    </a>
                </td>
            </tr>
        }
        <tr>
            <td>
                Total
            </td>
            <td></td>
            <td></td>
            <td id="cart-total">
                @Model.CartTotal.ToString("F2", CultureInfo.InvariantCulture)
            </td>
        </tr>
    </table>
}

@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".RemoveLink").click(function () {
                var recordToDelete = $(this).attr("data-id");
                if (recordToDelete != '') {
                    $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                        function (data) {
                            if (data.itemCount == 0) {
                                $('#row-' + data.deleteId).fadeOut('slow');
                            } else {
                                $('#item-count-' + data.deleteId).text(data.itemCount);
                            }
                            $('#cart-total').text(data.cartTotal);
                            $('#update-message').text(data.message);
                            $('#cart-status').text('Cart (' + data.cartCount + ')');
                        });
                }
            });
        });
    </script>
}